{% load staticfiles %}
.scrollable-content {
	background: url("background.jpg");
	background-color: #fff;
}

.panel-heading {
  background: -moz-linear-gradient(top, #8b008b, #592e8a 100%);
  background: -webkit-linear-gradient(top, #8b008b, #592e8a 100%)
  color: #fff;
}