{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'mobile-angular-ui-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mobile-angular-ui-desktop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mobile-angular-ui-hover.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mobile-angular-ui-migrate.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<div class="scrollable">
	<div class="scrollable-content">
	<div class='container'>
		<div class="list-group text-center">
		  <div class="list-group-item list-group-item-home">
		    <p><img align="middle" src="{% static 'logo.png' %}" /></p>
		    <h1 class='text-center'>Radium Ion Cloud</h1><br>
		  </div>
		</div>
<body>
	{% block content %}{% endblock content %}
</div>
</div>
</body>
</html>