{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-top:2%">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="color: #fff">
				<h3 class="panel-title">Document {{ doc.identifier }}</h3>
			</div>
			<div class="panel-body">
				<div class="row"><p style="margin-left:1%"> Document ID: {{ doc.identifier }}</p></div>
				<div class="row"><p style="margin-left:1%"> Name: <a href="{{MEDIA_URL}}{{file_path}}">{{ doc.content }}</a></p></div>
				<div class="row"><p style="margin-left:1%"> Timestamp: {{ doc.timestamp }}</p></div>			
				
			</div>
		</div>
	</div>
</div><!--end of row-->	

{% endblock content %}